body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url('https://i.pinimg.com/474x/b8/33/e6/b833e63dfda26aefeb986083bc106177.jpg');
    font-family: Arial, sans-serif;
}

.caixa-calculadora {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.calculadora {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-gap: 10px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
}

.display {
    grid-column: span 4;
    height: 60px;
    font-size: 2em;
    text-align: right;
    padding-right: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    background-color: #ffffff;
}

.botao {
    height: 60px;
    font-size: 1.5em;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s, box-shadow 0.2s;
    background-color: #ffffff;
}

.botao:active {
    background-color: #e0e0e0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1) inset;
}

.botao-operacao {
    background-color: darkgreen;
    color: #fff;
}

.botao-operacao:active {
    background-color: darkgreen;
}

.botao-igual {
    grid-column: span 2;
    background-color: #4caf50;
    color: #fff;
}

.botao-igual:active {
    background-color: #388e3c;
}

.botao-zero {
    grid-column: span 2;
}

.botao-imprimir {
    grid-column: span 4;
    background-color: #2196f3;
    color: #fff;
    height: 50px;
    font-size: 1.2em;
    margin-top: 10px;
}

.botao-imprimir:active {
    background-color: #1976d2;
}